<!doctype html>
<html>
    <head>
       <title>Admin Dashboard</title>
       <meta charset="utf-8"> 
    </head> 
    <body>
        <%- include('../partials/admin/header') -%>
        <h1>Welcome to Admin Dashboard</h1>
        <%- include('../partials/admin/footer') -%>
    </body>
</html>