<!doctype html>
<html lang="en">

<head>
    <title>
        FCAP - Home
    </title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.3/font/bootstrap-icons.min.css">
    <!--Google Fonts-->
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- End Bootstrap CSS -->

    <style>
        img{
            width: 400px;
        }
        .img-slider{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 70%;
        }
        .carousel-inner {
            position: relative;
            width: 100%;
            overflow: hidden;
        }
        #blue-h2{
            color: seagreen;
        }
        .bg-primary {
            background-color: seagreen !important;
        }
        #center-div{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>

   
    <!--Header Start-->
    <header>
         <section id="topbar" class="mb-2 mb-lg-0 mb-sm-0 d-none d-lg-flex align-items-center pt-2 pb-2 bg-primary text-white topbar-transparent">
        <div class="container">
          <div class="row">
            <div class="col-lg-6   text-start">
             <span class="px-3"><i class="bi bi-phone "></i> +923266067722 </span>
          <i class="bi bi-clock"></i> Mon-Fri: 9-5
            </div>
            <div class="col-md-6 text-end">
                <a href="https://www.facebook.com/" class="me-4 text-reset">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="https://twitter.com/" class="me-4 text-reset">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="https://www.instagram.com/" class="me-4 text-reset">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/home/?originalSubdomain=pk" class="me-4 text-reset">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://github.com/SyedZainullahQazi/sms.git" class="me-4 text-reset">
                    <i class="bi bi-github"></i>
                </a>
            </div>
          </div>
        </div>
      </section>
        <!--Navbar Start-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <h2 id="blue-h2" class="fw-bold  mb-2 mb-lg-0 mb-sm-0"><b>FCAP - </b>Society Management System</h2>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="bi bi-list"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Mentor">Mentor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Alumni">Alumni</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Contact-Us">Contact-Us</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mb-2 mb-lg-0 action-menu">
                        <li class="nav-item">
                            <a class="nav-link " href="/signin">LOGIN
                                <i class="bi bi-person "></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--Navbar End-->
    </header>
    <!--Header End-->


    <div id="carouselExampleCaptions" class="carousel slide mb-3" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="img-slider">
                    <img class="img-fluid overflow-hidden"
                    src="../public/images/slider/qazi2.JPG"
                    class="d-block w-100" alt="..." width="50%">
                </div>
                <div class="carousel-caption d-block">
                    <h5>DEVELOPER</h5>
                </div>
            </div>
            <div class="carousel-item">
                <div class="img-slider">
                    <img class="img-fluid overflow-hidden"
                    src="../public/images/slider/khan.jpg"
                    class="d-block w-100" alt="..." width="50%">
                </div>
                <div class="carousel-caption d-block">
                    <h5> GOOD DEVELOPER</h5>
                </div>
            </div>
            <div class="carousel-item">
                <div class="img-slider">
                    <img class="img-fluid overflow-hidden"
                    src="../public/images/slider/sheikh.jpg"
                    class="d-block w-100" alt="..." width="50%">
                </div>
                <div class="carousel-caption d-block">
                    <h5>VERY GOOD DEVELOPER</h5>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" style="background-color: seagreen;" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" style="background-color: seagreen;" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>





    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about mt-5">
            <div class="container-fluid">
                <h2 id="blue-h2" class="h1-responsive font-weight-bold text-center my-2">About</h2>
                <!--Section description-->
                <p class="text-center w-responsive mx-auto mb-1">
                    Our Society <b>FCAP</b> is designed for the newbies to resgister 
                    themselves in their respective skilled field and enjoy numerous 
                    events related to FCAP.
                </p>
                <div class="row  pt-5 pb-5">

                    <div class="col-lg-5 align-items-stretch video-box"
                        style='background-image: url("../home/images/logo.png");'>
                        <a href="" class="venobox play-btn mb-4"
                            data-vbtype="video" data-autoplay="true"></a>
                    </div>

                    <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

                        <div class="content">
                            <h3 id="blue-h2">Society Teams</h3>
                            <ul>
                                <li>Technical Team</li>
                                <li>Finance Team</li>
                                <li>Marketing Team</li>
                                <li>Social Media Team</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End About Section -->

        <section id="Mentor">
            <div class="container course pb-5 pt-5">
                <h2 id="blue-h2" class="h1-responsive font-weight-bold text-center my-4">Mentor</h2>
                <!--Section description-->
                <p class="text-center w-responsive mx-auto mb-5">Here is a Brief Inroduction about
                     our Mentor <b>Sir Muhammad Shahrose Khan. </b></p>
                <div id="center-div" class="row">
                    <div class="col-md-4">
                        <div id="center-div" class="card box">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <img src="../public/images/sir.jpg"
                                    class="img-fluid"/>
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 id="center-div" class="card-title">Lecturer</h5>
                                <p id="center-div" class="card-text">Muhammad Shahrose Khan joined National University of 
                                    Computer & Emerging Sciences (FAST-NUCES)
                                     as an Instructor and currently working as Lecturer Computer Sciences 
                                     department of the University.</p>
                                <a href="https://cfd.nu.edu.pk/faculty/muhammad-shahrose-khan/" id="center-div" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="Alumni">
            <div class="container">
                <h2 id="blue-h2" class="h1-responsive font-weight-bold text-center my-4">Alumni</h2>
                <!--Section description-->
                <p class="text-center w-responsive mx-auto mb-5">Here is the Alumni of 
                    <strong>
                        FCAP - Society.
                    </strong> </p>
                <!-- Gallery -->
                <div class="row" id="center-div" >
                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                        <img src="../public/images/madam.jpg"
                        class="w-100 shadow-1-strong rounded mb-4" alt="pic" />
                    </div>
                </div>
                <!-- Gallery -->
            </div>
        </section>


        <section id="Contact-Us">
            <div class="container mb-5">
                <!--Section: Contact v.2-->
                <section class="mb-4">

                    <!--Section heading-->
                    <h2 id="blue-h2" class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
                    <!--Section description-->
                    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate
                        to contact us directly. Our team will come back to you within
                        a matter of hours to help you.</p>

                    <div id="center-div" class="row">

                        <!--Grid column-->
                        <div class="col-md-6 mb-md-0 mb-5">
                            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <label for="name" class="">Your name</label>
                                            <input type="text" id="name" name="name" class="form-control">
                                        </div>
                                    </div>
                                    <!--Grid column-->

                                    <!--Grid column-->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <label for="email" class="">Your email</label>
                                            <input type="text" id="email" name="email" class="form-control">
                                        </div>
                                    </div>
                                    <!--Grid column-->

                                </div>
                                <!--Grid row-->

                                <!--Grid row-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="md-form mb-0">
                                            <label for="subject" class="">Subject</label>
                                            <input type="text" id="subject" name="subject" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <!--Grid row-->

                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-md-12">

                                        <div class="md-form">
                                            <label for="message">Your message</label>
                                            <textarea type="text" id="message" name="message" rows="2"
                                                class="form-control md-textarea"></textarea>
                                        </div>

                                    </div>
                                </div>
                                <!--Grid row-->

                            </form>

                            <div class="text-center text-md-left">
                                <a class="btn btn-primary"
                                    onclick="document.getElementById('contact-form').submit();">Send</a>
                            </div>
                            <div class="status"></div>
                        </div>
                        <!--Grid column-->
                    </div>

                </section>
                <!--Pagination-->
                <div class="pagination">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#">Previous</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">3</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                      </nav>
                </div>
            </div>
        </section>


        <!-- Footer -->
        <footer class="text-center text-lg-start bg-primary py-3 text-white">
          
            <!-- Section: Social media -->

            <!-- Section: Links  -->
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                <i class="bi bi-gem me-3"></i>FAST-NU-SOCIETY MANAGEMENT SYSTEM
                            </h6>
                            <p>
                                LONG WAY TO GO!
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Events
                            </h6>
                            <p>
                                <a href="#!" class="text-reset">Technical Team</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Finance Team</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Marketing Team</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Social Media Team</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Collaborations
                            </h6>
                            <p>
                                <a href="#!" class="text-reset">SILENT STEPS</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">RANG</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">WEB - APPS</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">ACM</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Contact
                            </h6>
                            <p><i class="bi bi-location me-3"></i> FAST-NU, Chiniot-Faisalabad, Pakistan</p>
                            <p>
                                <i class="bi bi-envelope me-3"></i>
                                admin@cfd.nu.edu.pk
                            </p>
                            <p><i class="bi bi-phone me-3"></i> +923266067722</p>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
            </section>
            <!-- Section: Links  -->

            <!-- Copyright -->
            <div class="text-center py-4" style="background-color: rgba(0, 0, 0, 0.05);">
                © 2022 Copyright:
                <a class="text-reset fw-bold" href="https://github.com/SyedZainullahQazi/sms">FCAP.com</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>


</body>
<style>
    .pagination{
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
</html>