<%- include('../partials/header') %>

<!doctype html>
<html>
    <head>
        <title>Post</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1><%=heading%></h1>
        <p><%=content%></p>
    </body>
</html>

<%-include('../partials/footer') %>