<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>FORGET PASSWORD</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../public/styles/admin.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">FCAP-MS</p>
  </nav>
</head>
<body>
    <div class="row" style="padding:10rem">
        <div class="col-sm-3">
        <h3><b>ROLLNUMBER : </b></h3>
        <h3><b>AUTHEN PIN : </b></h3>
        <h3><b>PASSWORD : </b></h3>
        </div>
        <div class="col-sm-3">
            <form action="/verify-authpin" method="post">
            <input type="text" name="rollnum" placeholder="4321" class="form-control" style="margin:2rem;">
            <input type="text" name="authpin" placeholder="f200328" class="form-control" style="margin:2rem;" >
            <input type="text" name="password" placeholder="f200328" class="form-control" style="margin:2rem;" >
            <br>
            <button type="submit" class="btn btn-success" style="margin-left:11rem;"  >VERIFY</button>
            <p style="color:red"><%=status%></p>
            </form>
        </div>
    </div>
</body>

<%- include('../partials/general/footer') -%>
