<%- include('../partials/member/header') %>

<!doctype html>
<html>
    <head>
        <title>Post</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1><%=event[0].eventName%></h1>
        <p><%=event[0].eventDetails%></p>
        <br>
  


     

            
    </body>
</html>

<%-include('../partials/member/footer') %>