<!DOCTYPE html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>

    <title>FCAP MEMBER | MANAGER</title>

    <style>
      .inline-80 {
        display: inline-block;
        width: 80px;
      }
    </style>
  </head>
  <body>
    <%- include('../partials/member/header') -%>
    <BR /><BR />
    
    <div class="row">
      <div class="col-sm-1">
        <form action="/register-timetable/monday" method="get">

          <button
            type="submit"
            class="btn btn-primary"
            style="padding-left: 1.5rem; padding-right: 1.5rem"
          >
            MON
          </button>
        </form>
      </div>

      <div class="col-sm-1">
        <form action="/register-timetable/tuesday" method="get">
          <button
            type="submit"
            class="btn btn-primary"
            style="padding-left: 1.5rem; padding-right: 1.5rem"
          >
            TUE
          </button>
        </form>
      </div>

      <div class="col-sm-1">
        <form action="/register-timetable/wednesday" method="get">
          <button
            type="submit"
            class="btn btn-primary"
            style="padding-left: 1.5rem; padding-right: 1.5rem"
          >
            WED
          </button>
        </form>
      </div>

      <div class="col-sm-1">
        <form action="/register-timetable/thursday" method="get">
          <button
            type="submit"
            class="btn btn-primary"
            style="padding-left: 1.5rem; padding-right: 1.5rem"
          >
            THU
          </button>
        </form>
      </div>

      <div class="col-sm-1">
        <form action="/register-timetable/friday" method="get">
          <button
            type="submit"
            class="btn btn-primary"
            style="padding-left: 1.5rem; padding-right: 1.5rem"
          >
            FRI
          </button>
        </form>
      </div>
    </div>

    <div class="col-sm-6" >
      <h1 style="color:#937DC2;font-family: 'Anton', sans-serif;text-align:center;">UNIVERSTIY TIMETABLE REGISTERATION</h1>
      <!--FORM -->
      <form action="/register-timetable" method="post">

        <input type="hidden" value="<%=day%>" name="dayname">

          <div class="form-group row">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="slot1" name="slotOne" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                  8:45 -10:10
                </label>
              </div>
          </div>

          <div class="form-group row">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="slot2" name="slotTwo" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">
                10:10 -11:45
              </label>
            </div>
        </div>

        <div class="form-group row">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="slot3" name="slotThree" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              11:45-1:10
            </label>
          </div>
      </div>

      <div class="form-group row">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="slot4" name="slotFour" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            1:10 -1:45
          </label>
        </div>
    </div>

    <div class="form-group row">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="slot5" name="slotFive" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          1:45 -3:10
        </label>
      </div>
  </div>

  <div class="form-group row">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="slot6" name="slotSix" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        3:10 -4:45
      </label>
    </div>
</div>

          <center>
          <button type="submit" class="btn btn-primary" style="padding-left:15.5rem;padding-right:15.5rem;text-align:center;">Register</button>
          </center>
        
      </form>
      
  </div>
  <div class="col-sm-6">
    <h1><%= day %></h1>
  </div>

    <%- include('../partials/member/footer') -%>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
