<!DOCTYPE html>
<html>
    <head>
        <title>EMAIL MANAGER</title>
        <meta charset="utf-8">
    </head>
    <body>
        <%- include("../partials/member/header") -%>

        <div class="row">
            <h1 style="text-align:center;">FCAP TIMETABLE MANAGER</h1>   
        </div>
        
        <div class="row" style="text-align:center">
            <!--REGISTER TIMETABLE-->
            <div class="col-sm-4" >
                <form method="get" action="/register-timetable/monday">
                    <img src="../../public/images/addMember.png" alt="ADD MEMBER IMAGE" style="padding:4rem">
                    <center><button type="submit" class="btn btn-primary" style="padding-left:2.5rem;padding-right:2.5rem;text-align:center;">REGISTER TIMETABLE</button></center>
                </form>
            </div>
            <!--UPDATE TIMETABLE-->
            <div class="col-sm-4" >
                <form method="get" action="/update-timetable">
                    <img src="../../public/images/addMember.png" alt="ADD MEMBER IMAGE" style="padding:4rem">
                    <center><button type="submit" class="btn btn-primary" style="padding-left:2.5rem;padding-right:2.5rem;text-align:center;">UPDATE TIMETABLE</button></center>
                </form>
            </div>
            <!--VIEW TIMETABLES-->
            <div class="col-sm-4">
                    <form method="get" action="/view-timetable/monday" >
                    <img src="../../public/images/view.png" alt="ADD MEMBER IMAGE" style="padding:4rem">
                    <center><button type="submit" class="btn btn-primary" style="padding-left:2.5rem;padding-right:2.5rem;text-align:center;">VIEW TIMETABLE</button></center>
                    </form>
            </div>
        </div>

        <%- include("../partials/member/footer") -%>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    </body>
</html>