<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../public/styles/admin.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">FCAP-MS</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="dashboard"><a href="/member-dashboard">HOME</a></li>
          <li id="timetable"><a href="/timetable-manager">TIMETABLE</a></li>
          <li id="timetable"><a href="/blog">BLOG</a></li>
          <li id="event"><a href="/view-event">EVENTS</a></li>
          <li id="my info"><a href="/user-info">MY INFO</a></li>
          <li id="chat"><a href="/chatmember">CHAT</a></li>
          <li id="signout"><a href="/signout-member">SIGNOUT</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">